<div>
    Turnos que has publicado:
    <ul>
        <% @turnos.each do |turno| %>
            <li><%= link_to "#{turno}", turno %></li>
        <% end %>
    </ul>
</div>

<div>
    Solicitudes aceptadas:
    <ul>
        <% @solicitudes_aceptadas.each do |solicitud| %>
            <li><%= link_to "#{solicitud}", solicitud.turno %></li>
        <% end %>
    </ul>
</div>

<div>
    Solicitudes pendientes:
    <ul>
        <% @solicitudes_pendientes.each do |solicitud| %>
            <li><%= link_to "#{solicitud}", solicitud.turno %></li>
        <% end %>
    </ul>
</div>

<div>
    Solicitudes rechazadas:
    <ul>
        <% @solicitudes_rechazadas.each do |solicitud| %>
            <li><%= link_to "#{solicitud}", solicitud.turno %></li>
        <% end %>
    </ul>
</div>
