<div style="background-color: #71a9c0; width:500px; height:100px;border: 3px solid;
padding: 10px;box-shadow: 5px 5px;margin:auto;">
   <p style="font-family:Cambria;"> <b>Instrucciones</b>: En esta aplicación podrás ver distintas publicaciones sobre <b>conductores que ofrecen turnos</b> para trasladarse.
    Si necesitas participar en un turno o crear una publicación primero deberás <b>iniciar sesión</b> con una
    cuenta registrada en el menú de arriba. </p>
</div>

<hr>