/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 require_tree .
 require_self
 */
 

h1 {
  font-weight:bold;
  color:black;
  font-family:Cambria,Georgia,serif;
  text-align:center;
}

h3 {
  font-family:Cambria,Georgia,serif;
  text-align:center;
  color:black;
}

p {
  color:black;
  font-family:Cambria,Georgia,serif;
}

.logo {
  margin:auto;
  background-color:#065472;
  text-align:center;
  border-radius:15px;
  width:300px;
  height:85px;
  float:left;
}

.footer {
  width:100%;
  bottom: 0;
  right: 0;
  position:fixed;
}

.buscarTurno {
  height:auto;
  margin:auto;
  border-radius: 15px;
  width:500px;
  text-align:center;
  background-color:transparent;
  box-shadow:5px 5px 5px 5px;
}

.bigDiv {
  background-color: #71a9c0; 
  width:500px; 
  height:auto;
  border: 3px solid;
  box-shadow: 5px 5px;
  margin:auto;
  border-radius: 15px;
  padding: 2px 2px 2px 2px;
}

.publicaciones {
  width:530px;
  vertical-align:top;
  background-color: #71a9c0;  
  height:auto;
  box-shadow: 5px 5px;
  margin:auto;
  border-radius:15px;
  padding: 5px 5px 5px 5px;
}

.bigDiv:hover, .publicaciones:hover {
  background-color: #54A3C3;
}

.navBar {
  width:auto;
  height:85px;
  background-color:#065472;
  vertical-align:top;
}

.navButton {
  background-image: linear-gradient(#71a9c0, #D0E0E7); 
  width:130px; 
  height:40px;
  border: 1px;
  position:relative;
  display: inline-block;
  border-radius: 15px;
  text-align:center;
  vertical-align:middle;
  float:right;
  box-shadow: 0px 3px;
  padding:5px 5px 5px 5px;
  margin-right: 3px;
}

.navButtons {
  display:inline-block;
  float:right;
}


.datosTurno {
  float:left;
  display:inline-block;
  border-left: 1px solid black;
  margin-left: 5px; 
  padding: 5px 5px 5px 5px;
  height:90%;
}

.creadorTurno {
  float:left;
  display:inline-block;
  vertical-align:middle;
  margin-right:20px;
  margin-left:20px;
  padding: 0px 5px 0px 0px;
}


.smallButton {
  background-color: #71a9c0;
  width:120px; 
  height:auto;
  box-shadow: 0px 3px;
  margin:auto;
  text-align:center;
  border-radius: 15px;
  margin-bottom: 7px;
}

.smallButtons {
  display:flex;
  width:300px;
  margin:auto;
}

.navButton:hover {
  background-image: linear-gradient(#71a9c0, #FFFFFF);
}

.smallButton:hover {
  background-color: #ADD5E6;
}


.link {
  font-family:Cambria,Georgia,serif;
  font-size:15px;
  color:#065472;
  font-weight:bold;
  vertical-align:middle;
  margin-bottom: 5px;
  border-radius:15px;
}

.linkverde {
  font-family:Cambria,Georgia,serif;
  font-size:15px;
  color:green;
  font-weight:bold;
  vertical-align:middle;
  border-radius:15px;
}

.linkSolicitar {
  font-family:Cambria,Georgia,serif;
  font-size:25px;
  color:green;
  font-weight:bold;
  vertical-align:middle;
  border-radius: 20px;
}


.mensajeChat {
  box-shadow: 5px 5px;
  margin:auto;
  border-radius:15px;
  height:auto;
  width:90%;
  background-color:#FFFFFF;
  padding: 5px 5px 5px 5px;
  margin-bottom:3px;
}

.salirDelTurno {
  display: inline-block;
  border:2px solid black;
  border-radius:15px;
  padding:5px 5px 5px 5px;
  margin-left:2px;
}

.collapsible {
  font-family:Cambria,Georgia,serif;
  font-size:15px;
  color:#065472;
  font-weight:bold;
  vertical-align:middle;
  margin-bottom: 5px;
  border-radius:15px;
}




